<% page_title 'Bem-vindo ao Desafio Microblog' %>


<div class="row">
  <div class="col-md-7">
  	 
      <% if @tweets.present? %>

        <% for t in @tweets %>
  	 	 
    	 	  <div class="row">
    	 	  	<div class="col-md-4">
              <%= image_tag t.user.avatar.url(:thumb), class:'img-rounded' %>    	 	  	
    	 	  	</div>
    	 	  	<div class="col-md-6">
    	 	  	 <h4><%= t.user.name %></h4>
    	 	  	 <p><%= t.content %></p>
    	 	  	</div>
    	 	 </div>

         <hr>

        <% end %>

        <% else %>

          <div class="row">
            Nenhum Tweet disponível. Seja o primeiro(a) a enviar um Tweet :)
          </div>
          
      <% end %> 

  </div>
  <div class="col-md-5">
  	<div class="panel panel-primary">  		
  		<div class="panel-body">
		  	<form>
			  <div class="form-group">			   
			    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Login">
			  </div>
			  <div class="form-group">			    
			    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
			  </div>		  
		  	  <button type="submit" class="btn btn-primary">Entrar</button>
			</form>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
	    	<h3 class="panel-title">Novo aqui? Cadastre-se</h3>
	  	</div>
		<div class="panel-body">
		  <%= form_for @user, url: signup_path do |f| %>
		  	<div class="form-group">	
          <%= f.text_field :name, class:'form-control', placeholder: 'Nome'%>	
          <%= error_tag @user,:name %>	   			   
			  </div>
			   <div class="form-group">			    
			    <%= f.text_field :email, class:'form-control', placeholder:'Email' %>
          <%= error_tag @user,:email %>
			  </div>
			  <div class="form-group">			   
			     <%= f.text_field :login, class:'form-control', placeholder:'Login' %>
           <%= error_tag @user,:login %>
			  </div>
			  <div class="form-group">			    
			    <%= f.password_field :password, class:'form-control', placeholder:'Senha' %>
          <%= error_tag @user,:password %>
			  </div>		
        <%= f.submit('Cadastrar', class:'btn btn-warning btn-cta') %>  		  	 
			<% end %>
		</div>
	</div>
  </div>
</div>