<% page_title @user.name %>


<div class="row">
  <div class="col-md-7">
  	 
      <% if @tweets.present? %>

        <% for t in @tweets %>
  	 	 
    	 	  <div class="row">
    	 	  	<div class="col-md-4">
              <%= image_tag t.user.avatar.url(:thumb), class:'img-rounded' %>    	 	  	
    	 	  	</div>
    	 	  	<div class="col-md-6">
    	 	  	 <h4><%= t.user.name %></h4>
    	 	  	 <p><%= t.content %></p>
    	 	  	</div>
    	 	 </div>

         <hr>

        <% end %>

        <% else %>

          <div class="row">
            Nenhum Tweet disponível. Seja o primeiro(a) a enviar um Tweet :)
          </div>

      <% end %> 

  </div>
  <div class="col-md-5">
  	<div class="panel panel-primary">  		
  		<div class="panel-body">
        <% if flash[:notice] %>         
          <div class="alert alert-warning" role="alert"><%= flash[:notice] %></div>          
        <% end %>
		  	<%= form_tag enter_path do %>
  			  <div class="form-group">	
            <%= text_field_tag(:login, nil, class:'form-control', placeholder: 'Login') %>		      
  			  </div>
  			  <div class="form-group">			    
  			    <%= password_field_tag(:password, nil, class:'form-control', placeholder: 'Senha') %>
  			  </div>		  
          <%= submit_tag('Entrar', class:'btn btn-primary') %> 		  	  
			<% end %>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
	    	<h3 class="panel-title">Novo aqui? Cadastre-se</h3>
	  	</div>
		<div class="panel-body">
		  
		</div>
	</div>
  </div>
</div>