<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Developer Challenge">
    <meta name="author" content="tiago.asp.net@gmail.com">
   
   <title>Microblog: <%= yield(:page_title) %></title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

 	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

   	<%= csrf_meta_tags %>
  </head>

  <body>

    <div class="container">
   

      <%= render 'shared/nav_header' %>

       <div class="row">

          <input type="hidden" id="user-signed-in" value="<%=user_signed_in?%>"> 

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Notificações</h4>
                  </div>
                  <div class="modal-body" id="modal-content">

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>                 
                  </div>
                </div>
              </div>
            </div>
      </div>

      <%= yield %>
      
    </div>

      <footer class="footer">
        <p> <%=link_to '@tiagoaspnet', 'http://twitter.com/tiagoaspnet', target:'_blank' %> 2015</p>
      </footer>

    </div> <!-- /container -->

	<!-- Latest compiled and minified JavaScript --> 
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.js" type="text/javascript"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>

